
body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(30, 38%, 92%);
}

main
{
    margin: auto;
    width: 90vw;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.header_img img
{
    width: 100%;
    padding: 0;
    border-radius: 15px 15px 0px 0px;
}

.part{
    padding: 0px 20px;
}


.header h2
{
    font-family: 'Montserrat';
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin: 12px 0px;
    text-transform: uppercase;
    .part:not(:last-child)
    {
        margin-bottom: 10px;
    }
    line-height: 150%;
}
.pricing
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:10px;
}

.pricing #big-price
{
    font-family: 'Fraunces';
    font-size: 20px;
    color: hsl(158, 36%, 37%);
}

.pricing #small-price
{
    font-size: 8px;
    font-family: 'Montserrat';
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn img
    {
        margin: 0px 10px;
    }
    
button
{
    width: fit-content;
    width: 100%;
    background: hsl(158, 36%, 37%);
    border: none;
    color: white;
    margin: 16px;
    padding: 10px 0px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 10px;
}

button:hover{
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}
footer
{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}

.desktop
{
    display: none;
}

@media screen and (min-width:500px)
{
    .mobile{
        display: none;
    }

    .desktop{
        display: inline;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body{
        padding-top: 2vw;
        vertical-align: middle;
    }


    main
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        width: 600px;
    }

    .part
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .container
    {
        padding: 20px ;
    }
    .pricing
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }


    .header_img img{
        border-radius: 15px 0px 0px 15px ;
    }

    .pricing #big-price
    {
        font-size: 40px;
    }

    .pricing #small-price
    {
        font-size: 16px;
    }

    .header h2
    {
        font-size: 14px;
        margin: 16px 0px;
    }

    .header h1
    {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .description p
    {
        font-size: 14px;
    }


    .pricing #big-price
    {
        font-size:40px;
    }

    .pricing #small-price
    {
        font-size: 12px;
    }

    .pricing{
        margin-bottom: 5px;
    }

    .btn{
        display: flex;

    }
    .btn button
    {
        font-size: 16px;
        padding: 14px 0px;
        margin-bottom: 0px;
    }

    

}